@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    background: #232323;
    padding: 100px 20px;
    box-sizing: border-box;
}

section::before {
    content: " ";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ffffffb3;
    clip-path: circle(65% at 100% -20%);

}

section::after {
    content: " ";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fbdeb4;
    clip-path: circle(35% at 0% 100%);

}

.container {
    position: relative;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.container .card {
    position: relative;
    width: 300px;
    height: 450px;
    margin: 20px 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(15px);
    border-radius: 15px;
    cursor: pointer;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
}

.container .card h2 {
    color: #fff;
    -webkit-text-stroke: 0.5px #000;
}

.container .card .imgBx {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    transition: 0.5s;

}

.container .card:hover .imgBx {
    transform: translateY(-100px);
}

.container .card .imgBx img {
    width: 100%;
    transition: 0.5s ease-in-out;
}

.container .card:hover .imgBx img {
    transform: translate(-50px, -40px) rotate(-25deg) scale(1.4);
}

.container .card .content {
    position: absolute;
    bottom: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: 0.5s ease-in-out;
    opacity: 0;
}

.container .card:hover .content {
    opacity: 1;
    visibility: visible;
}

.container .card .content .size,
.container .card .content .color {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 20px;
}

.container .card .content .size h3,
.container .card .content .color h3 {
    color: #fff;
    font-weight: 300;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-right: 10px;
}

.container .card .content .size span {
    width: 26px;
    height: 26px;
    line-height: 24px;
    text-align: center;
    display: inline-block;
    color: #111;
    background: #fff;
    border-radius: 4px;
    font-size: 14px;
    margin: 0 5px;
    font-weight: 500;
    cursor: pointer;
}

.container .card .content .size span:hover {
    background: #fbdeb4;
}

.container .card .content .color span {
    width: 20px;
    height: 20px;
    background: #ffffff;
    border-radius: 50%;
    margin: 0 5px;
    border: 2px solid #fff;
    box-sizing: border-box;
    cursor: pointer;
}

.container .card .content .color span:nth-child(2) {
    background-color: #fbdeb4;
}

.container .card .content .color span:nth-child(3) {
    background-color: #000;
}

.container .card .content a {
    position: relative;
    top: 10px;
    display: inline-block;
    padding: 12px 30px;
    background: #fff;
    border-radius: 40px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #111;
    text-transform: uppercase;
    text-decoration: none;
}

.white span:hover {
    background: #000000 !important;
    color: #fff !important;
}

.black span:hover {
    background: #00000021 !important;
    color: #fff !important;
}